<div class="uiContainer__movie-list box col s12">
  {{#each movies}}
    <div class="movie-list__item">
      <span class="movie-title"}>{{original_title}}</span>
      <img src="https://image.tmdb.org/t/p/w300/{{poster_path}}">
      <h5 class="cast-list-${index}">Starring</h5>
      <ul class="movie-list__cast--data">
        {{#each cast_list}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
